-- CreateEnum
CREATE TYPE "EmailJobStatus" AS ENUM ('PENDING', 'PROCESSING', 'FAILED', 'DEAD_LETTER');

-- DropForeignKey
ALTER TABLE "manufacturing_processes" DROP CONSTRAINT "manufacturing_processes_productId_fkey";

-- DropIndex
DROP INDEX "audit_logs_createdAt_idx";

-- DropIndex
DROP INDEX "audit_logs_record_id_created_at_idx";

-- DropIndex
DROP INDEX "indent_history_indent_id_created_at_idx";

-- DropIndex
DROP INDEX "idx_indents_deleted_created";

-- DropIndex
DROP INDEX "idx_indents_deleted_state_created";

-- DropIndex
DROP INDEX "manufacturing_processes_productId_idx";

-- DropIndex
DROP INDEX "manufacturing_processes_productId_processCode_key";

-- DropIndex
DROP INDEX "manufacturing_processes_productId_sequence_key";

-- DropIndex
DROP INDEX "notification_recipients_created_at_idx";

-- DropIndex
DROP INDEX "idx_notifications_deleted_event_created";

-- DropIndex
DROP INDEX "workflow_history_indent_id_created_at_idx";

-- AlterTable
ALTER TABLE "manufacturing_processes" DROP COLUMN "estimatedHours",
DROP COLUMN "processCode",
DROP COLUMN "productId",
DROP COLUMN "sequence";

-- CreateTable
CREATE TABLE "email_jobs" (
    "id" UUID NOT NULL,
    "payload" JSONB NOT NULL,
    "status" "EmailJobStatus" NOT NULL DEFAULT 'PENDING',
    "priority" INTEGER NOT NULL DEFAULT 3,
    "attempts" INTEGER NOT NULL DEFAULT 0,
    "maxAttempts" INTEGER NOT NULL DEFAULT 4,
    "lastError" TEXT,
    "availableAt" TIMESTAMPTZ(6) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "lockedAt" TIMESTAMPTZ(6),
    "lockedBy" VARCHAR(255),
    "createdAt" TIMESTAMPTZ(6) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMPTZ(6) NOT NULL,

    CONSTRAINT "email_jobs_pkey" PRIMARY KEY ("id")
);

-- CreateIndex
CREATE INDEX "email_jobs_status_availableAt_priority_createdAt_idx" ON "email_jobs"("status", "availableAt", "priority", "createdAt");

-- CreateIndex
CREATE INDEX "indents_isDeleted_currentState_createdAt_idx" ON "indents"("isDeleted", "currentState", "createdAt");

-- CreateIndex
CREATE INDEX "indents_isDeleted_createdAt_idx" ON "indents"("isDeleted", "createdAt");

-- CreateIndex
CREATE UNIQUE INDEX "manufacturing_processes_processName_key" ON "manufacturing_processes"("processName");

-- RenameIndex
ALTER INDEX "idx_audit_logs_module_created" RENAME TO "audit_logs_module_createdAt_idx";

